body {
    background-color: rgb(253, 253, 250);
}

.gryffindor {
    background-color: #ce3a0a;
    color: #fdb02e
}

.hufflepuf {
    background-color: #ffc02a;
    color: #0b0000;  
}

.ravenclaw {
    background-color: #395f9d;
    color: #e9ba36  
}

.slytherin {
    background-color: #588c39;
    color: #c0b1c6  
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.card {
    height: 100px;
    width: calc(100% - 20px);
    margin: 8px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16);

    background: white;
    cursor: pointer;

}
img {
    height: 50px;
}
.filter-section {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: #FFFEF0;
}
#modal {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    z-index: 10;

    display: none;

    float: left;

    background: white;
    overscroll-behavior:  
   
}
#modal img {
    height: 40vh;
}